action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
actionlib-msgs==5.3.5
ament-cmake-google-benchmark==2.5.3
ament-cmake-test==2.5.3
builtin-interfaces==2.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
composition-interfaces==2.0.2
contourpy==1.3.1
cv-bridge==1.13.0.post0
cycler==0.12.1
diagnostic-msgs==5.3.5
example-interfaces==0.12.0
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
geometry-msgs==5.3.5
idna==3.10
interactive-markers==2.5.4
Jinja2==3.1.5
kiwisolver==1.4.8
laser-geometry==2.7.0
lifecycle-msgs==2.0.2
logging-demo==0.33.5
lttngpy==8.2.3
map-msgs==2.4.1
MarkupSafe==3.0.2
matplotlib==3.10.0
message-filters==4.11.3
mpmath==1.3.0
nav-msgs==5.3.5
networkx==3.4.2
numpy==2.2.1
opencv-python==4.10.0.84
packaging==24.2
pandas==2.2.3
pendulum-msgs==0.33.5
pillow==11.1.0
point-cloud-transport-py==4.0.3
psutil==6.1.1
py-cpuinfo==9.0.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-qt-binding==2.2.1
pytz==2024.2
PyYAML==6.0.2
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
rcl-interfaces==2.0.2
rclpy==7.1.3
rcutils==6.7.2
requests==2.32.3
resource-retriever==3.4.3
rmw-dds-common==3.1.0
ros2bag-mcap-cli==0.26.6
ros2bag-sqlite3-cli==0.26.6
ros2cli-test-interfaces==0.32.2
rosbag2-interfaces==0.26.6
rosbag2-py==0.26.6
rosbag2-test-common==0.26.6
rosbag2-test-msgdefs==0.26.6
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-dds-idl==0.11.1
rosidl-generator-py==0.22.0
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rqt-py-common==1.6.0
scipy==1.15.1
seaborn==0.13.2
sensor-msgs==5.3.5
service-msgs==2.0.2
setuptools==75.8.0
shape-msgs==5.3.5
six==1.17.0
statistics-msgs==2.0.2
std-msgs==5.3.5
std-srvs==5.3.5
stereo-msgs==5.3.5
sympy==1.13.1
test-msgs==2.0.2
tf2-geometry-msgs==0.36.7
tf2-kdl==0.36.7
tf2-msgs==0.36.7
tf2-py==0.36.7
tf2-sensor-msgs==0.36.7
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
trajectory-msgs==5.3.5
turtlesim==1.8.3
type-description-interfaces==2.0.2
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.62
ultralytics-thop==2.0.13
unique-identifier-msgs==2.5.0
urllib3==2.3.0
visualization-msgs==5.3.5
